.form-input-container {
    margin: 20px auto;
    background-color: rgb(251, 231, 207);
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-top: 4rem;
    /* margin-left: 20%;
    margin-right: 20%; */
    height: 32rem;
    width: 23rem;
}




.loader {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
}